<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        {{>error}}
    </div>
    {{>footer}}
</body>

</html>